
.topbar{
	background-color: rgb(255, 255, 255);
	position:fixed;
	height: 52px;
	width: 100%;
	min-width: 1000px;
	flex-direction: column;
	top:0;
}
.banner{
	position: absolute;
	display:flex;
	background-color: rgb(255, 255, 255);
    width: 100%;
	height: 52px;
	flex-direction: row;
	z-index:1;
	top:0;

}
.new-banner{
	position: absolute;
	width: 100%;
	height: 52px;
	background-color: rgb(255, 255, 255);
	display: flex;
}
.banner-left{
	margin:auto;
	margin-left: 15px;
    margin-right: 15px;
	flex-shrink: 1;
	flex-basis: 500px;
	list-style-type: none;
	display:inline-block;
	color: #8590a6;
	flex:1.5;
}
.top-content{
	display: inline-block;
	
}
.mainColun-topbar{
	width:100%;
	padding-left: 0;
	background-color: white;
	padding-top:15px;
	padding-bottom: 15px;
	margin:0;
	margin-bottom: 4px;
}
.searchbar{
	flex:1;
	padding-top:15px;
}
.text{
	color: #8590a6;
	text-align: center;
	font-size: 15px;
}
.top-text-single{
	display: inline-block;
	padding-left:15px;
	padding-right: 15px;
}
.users{
	flex:1;
	background-color: white;
	list-style-type:none;
	display: block;
	top:0;
	margin:0;
	
}
.users-detail{
	list-style-type: none;
}
main{
	display: block;
}
body{
  background-color: #f6f6f6;
  font-size: 15px;
  color:black;
  margin:0;
  display: block;
}
